<!-- 
    Required variables: 
    - title 
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %> | Where To Buy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap SCSS -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <!-- Vanilla CSS -->
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>