<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="wrapper">
    <section class="main-search">
        <h1>Find you local listing</h1>
        <h4>Search for local stores and find out what others think</h4>
        <form action="/listings" method="GET">
            <div class="input-group searchbar">
                <input type="text" name="search" class="form-control" style="min-width: 200px;" placeholder="e.g. 'Acton', 'SW1 4IJ'">
                <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <h5>or</h5>
        <button class="btn btn-secondary font-btn"><i class="bi bi-geo-alt-fill"></i> Use my location</button>
    </section>
</div>    

<%- include('./partials/footer') %>
