<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="login d-flex flex-column justify-content-center align-items-center mb-5">
    <section class="login container">
        <div class="row text-center mt-4">
            <h5 class="pb-4"><%= message %></h5>        
        </div>
        <div class="row align-items-center">
            <form action="/login" method="POST">
                <div class="mb-4 text-center">
                    <h1>Login</h1>
                </div>
                <div class="mb-4 d-flex justify-content-center">
                    <div class="col-6">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                </div>
                <div class="mb-4 d-flex justify-content-center">
                    <div class="col-6">
                        <label for="password"  class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                </div>
                <div class="mb-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary btn-block mb-4 col-2">Login</button>
                </div>          
            </form>
        </div>
        <div class="row text-center">
            <p>Don't have an account? <a href="#" class="link-underline link-underline-opacity-0">Register</a></p>
        
            <p> or sign up with: </p>
            <div>
                <a href="/auth/google" class="login"><i class="bi bi-google"></i></a>
                <i class="bi bi-twitter ps-2"></i>
                <i class="bi bi-facebook ps-2"></i>
            </div>
        </div>
    </section>
</div>

<div class="floating-div bg-dark text-white p-2" style="position: fixed; bottom: 140px; right: 10px; z-index: 9999; border-radius: 2%;">
    <p>Demo Users</p>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Kelvin_Franecki84@gmail.com
            <button class="btn btn-sm btn-primary copy-btn ms-2" data-text="Kelvin_Franecki84@gmail.com">Copy</button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Kristi.Kemmer49@gmail.com
            <button class="btn btn-sm btn-primary copy-btn ms-2" data-text="Kristi.Kemmer49@gmail.com">Copy</button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Lillian.Kling@hotmail.com
            <button class="btn btn-sm btn-primary copy-btn ms-2" data-text="Lillian.Kling@hotmail.com">Copy</button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Natalie_Jaskolski@gmail.com
            <button class="btn btn-sm btn-primary copy-btn ms-2" data-text="Natalie_Jaskolski@gmail.com">Copy</button>
        </li>
    </ul>
</div>

<script>
    const copyBtns = document.querySelectorAll('.copy-btn');
  
    copyBtns.forEach((btn) => {
      btn.addEventListener('click', (e) => {
        const text = e.target.getAttribute('data-text');
        const tempInput = document.createElement('input');
        tempInput.setAttribute('value', text);
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
      });
    });
  </script>

<%- include('./partials/footer') %>