body {
  padding: 50px;
  padding-bottom: 10px;
  font: 14px 'Montserrat','Lucida Grande', Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html, body {
  height: 100%;
}

.font-btn {
  font-weight: 600;
}

.navbar.main {
  padding-bottom: 20px;
}

.nav-right {
  justify-self: flex-end;
}

.navbar-brand {
  letter-spacing: 2px;
  padding-right: 20px;
}

.nav-right > span > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar.main > * > *, .navbar.main > * > * > * {
  margin-left: 4px;
  margin-right: 4px;
}

.searchbar > input {
  border-color: #09FF98;
}

/* .searchbar > input:focus {
  box-shadow: 0 0 5px #09FF98;
} */

.searchbar > button {
  border-color: #09FF98;
  border-left: none;
}

.searchbar > button:hover {
  border-color: #09FF98;
  border-left: none;
}

.dropdown-toggle{
  border: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  max-height: 65vh;
}

.wrapper > section{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.main-search > * {
  margin-bottom: 20px;
}

section.listings-search, section.listings-account{
  flex-direction: row;
  grid-column: span 2;
  padding: 20px 0;
}

.wrapper.listings{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.wrapper.listings-account{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 0.3fr 1fr;
}

.wrapper.listings-account > h1{
  grid-column: span 2;
}

.listings-results{
  max-height: 50vh;
  min-width: 90%;
  padding: 20px;
}

select.sort{
  border-color: #a5fad7;
  padding: 2px;
  margin-left: 5px;
}

article.listing{
  display: grid;
  grid-template-columns: 0.6fr 2fr 0.5fr;
}

article.listing.search:hover{
  background-color: #d8fdee;
  cursor: pointer;
}

.listing-left, .listing-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.listing-middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
  text-align: left;
}


article > .listing-middle > h3 {
  color: #5DFF8A;
  font-weight: 700;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.listings-account > .listings > .listings-results > .listing >  .listing-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}