body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-right > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 3px;
}

.navbar.main > .nav-right > * {
  margin-left: 5px;
  margin-right: 5px;
}